.quiz-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.quiz-card:hover {
    transform: scale(1.05);
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
} 
.navbar {
    margin-bottom: 0;
    padding-top: 1;
    padding-bottom: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.content-container {
    padding-top: 70px; 
}
.flash-container {
    position: fixed;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; 
    max-width: 90%;
    text-align: center;
}
