{% extends "admin_base.html" %}

{% block admin_content %}
<div class="container-fluid px-5 content-container">
    <h2 class="mb-4 text-center">Subjects</h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for subject in subjects %}
        <div class="col mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-header text-center bg-primary text-white ">
                    <h5 class="card-title  mb-0">{{ subject.name }}</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Chapter Name</th>
                                <th>Questions</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chapter in subject.chapters %}
                            <tr>
                                <td>{{ chapter.name }}</td>
                                <td>{{ chapter.question_count }}</td>
                                <td>
                                    <a href="{{ url_for('edit_chapter', id=chapter.id) }}"
                                        class="btn btn-sm btn-warning">Edit</a>
                                    <a href="{{ url_for('delete_chapter', id=chapter.id) }}"
                                        class="btn btn-sm btn-danger"
                                        onclick="return confirm('Are you sure you want to delete this chapter?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('delete_subject', subject_id=subject.id) }}" class="btn btn-sm btn-danger"
                        onclick="return confirm('Are you sure you want to delete this subject?')">Delete Subject</a>
                    <a href="{{ url_for('add_chapter', subject_id=subject.id) }}"
                        class="btn btn-sm btn-success float-end">
                        + Add Chapter
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="text-center mt-4"><a href="{{ url_for('create_subject') }}" class="btn btn-outline-success btn-lg mt-4">
        + Add Subject
    </a>
    <a href="{{ url_for('manage_users') }}" class="btn btn-outline-primary btn-lg mt-4">
        Users
    </a>
</div>
</div>
{% endblock %}